$blackColor : #ffffff00;
$whiteColor :   #ffffff;

body{
    font-family: 'Varela Round', sans-serif;
    background: linear-gradient(225deg, rgba(233,127,163,1) 0%, rgba(139,16,176,1) 49%, rgba(0,212,255,1) 100%);
    color: black;
    height: 100vh;
    overflow: hidden;
    div{
        text-align: center;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #chessBoard{
        background: linear-gradient(45deg, rgba(233,127,163,1) 0%, rgba(139,16,176,1) 49%, rgba(0,212,255,1) 100%);
        //border-spacing: 0px;
        box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
        td{
            height: 5.5vh;
            width: 5.5vh;
        }
        img {
            height: 8vh;
            margin-top: 0.8vh;
            margin-left: 10%;
          }
        .b{
            background-color: $blackColor;
        }
        .w{
            background-color: $whiteColor;
        }
        .g{
            background-color: white;
            opacity: 0.5;
        }
        .p1{
            background-color: blue;
            opacity: 0.5;
        }
        .p2{
            background-color: red;
            opacity: 0.5;
        }
        .b.selected {
            box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
        }
        .w.selected{ 
            box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
        }
    }
    #gameOver, #tips{
        background-color: #fffffffa;
        padding: 5vh;
        box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
        h1{
            margin: 0;
        }
    }
    ::-webkit-input-placeholder {
        text-align: center;
     }
}

